.cover-home{
    background-image: url(../CommunComponent/img/coverHome.jpg);
    height:80vh;
    background-size: cover;
   margin-top: 10%;
   
}

.cover-title-home{
    color:red

}
.first-section-home{
    display: flex;
    justify-content:space-evenly;
    margin-top:20%;
    
    background-color: rgb(225,182,41);
}
.Home-img1{
    
    
    
    
}
.Home-paragraphe1{
    width:40%;
    
    margin-top:5%;
   
}
.second-section-home{
    display: flex;
    justify-content: space-evenly;
    margin-top:20%;
    background-color: rgb(233,179,138);
    
    padding:2%;
}
.Home-img2{
    
}
.Home-paragraphe2{
    width:40%;
    margin-top:10%;
   
}
.burger-sampleHome{
    display: grid;
    grid-template-columns: auto auto;
}
.pizza-sampleHome{
    display: grid;
    grid-template-columns: auto auto;
}